.jaemok {
    text-align: center;
}

.countdown_circle {
    margin: auto;
    width : 500px;
    height : 500px;
    border: 15px solid rgb(255, 199, 0);
    border-radius: 50%;
}

h1 > span {
    
    display: inline-block;
    width: 100px;
}

.countdown_button {
    color: black; background-color: white;
    font-size: 16px; padding: 6px;
    width: 100px; border: none; border-radius: 3px;
    cursor: pointer;
}

.countdown_button:hover {
    color: rgb(53, 53, 53);
    background-color:rgb(255, 245, 211);
}

.countdown_button:active {
    color: white;
    background-color:rgb(255, 199, 0);
}