@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

.countdown_outer_circle {
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: rgb(255, 199, 0);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.countdown_inner_circle {
    margin: auto;
    width: 570px;
    height: 570px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.countdown_laps {
    height: 300px;
    overflow: auto;
}

.countdown_timer {
    color: black;
    font-size: 80px;
    text-align: center;
    margin-right: 30px;
}

.countdown_buttons {
    display: 250px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
}

.countdown_button {
    margin-right: 15px;
    color: black; background-color: white;
    font-size: 25px; padding: 10px;
    width: 130px; border: 1px solid rgb(255, 199, 0); border-radius: 8px;
    cursor: pointer;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.countdown_button:hover {
    color: rgb(53, 53, 53);
    background-color:rgb(255, 245, 211);
}

.countdown_button:active {
    color: white;
    background-color:rgb(255, 199, 0);
}

.countdown_timer {
    margin: -3%;
    font-size: 50px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

ul{
    list-style:none;
    padding-left:0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}