.button-submint {
    background-color: rgb(255, 199, 0);
    color: black;
}

.button-submit:active {
    background-color: grey;
    border-color: black;
    color: rgb(255, 199, 0);
}

.register-center{
    margin: auto;
    width: 60%;
    height: 60%;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

