.stopwatch_circle {
    width : 300px;
    height : 300px;
    border: 10px solid rgb(255, 199, 0);
    border-radius: 50%;
}

h1 > span{
    display: inline-block;
    width: 100px;
}

button{
    color: black; background-color: white;
    font-size: 16px; padding: 6px;
    width: 100px; border: none; border-radius: 3px;
    cursor: pointer;
}

button:active{
    color: white;
    background-color:rgb(255, 199, 0);
}