
.container {
    text-align: center;
}

.stopwatch_circle {
    margin: auto;
    width: 600px;
    height: 600px;

    border: 15px solid rgb(255, 199, 0);
    border-radius: 50%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

h1{
    margin-bottom: 5%;
}

.buttons{
    margin-top: 0%;
}

h1 > span{
    display: inline-block;
    width: 50px;
}

.stopwatch_button {
    margin: auto;
    color: black; background-color: white;
    font-size: 30px; padding: 10px;
    width: 180px; border: none; border-radius: 8px;
    cursor: pointer;
}

.stopwatch_button:hover {
    color: rgb(53, 53, 53);
    background-color:rgb(255, 245, 211);
}

.stopwatch_button:active {
    color: white;
    background-color:rgb(255, 199, 0);
}