@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

.outer_circle {
    margin: auto;
    width: 720px;
    height: 720px;
    border-radius: 50%;
    background-color: rgb(255, 199, 0);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom : 100px;
}

.animation-bg {
    background : linear-gradient(-45deg, #ee7752,#eded02, #e73d7e, #23a6d5, #23d5ab);
    background-size : 400% 400%;
    animation : gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position : 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.inner_circle {
    margin: auto;
    width: 680px;
    height: 680px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.laps {
    height: 300px;
    overflow: auto;
}

.stopwatch_timer {
    color: black;
    font-size: 80px;
    text-align: center;
    margin-right: 0px;
}

.stopwatch_buttons {
    display: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
}

.stopwatch_button_start {
    margin-right: 15px;
    color: black; background-color: white;
    font-size: 25px; padding: 10px;
    width: 130px; border: 1px solid rgb(255, 199, 0); border-radius: 8px;
    cursor: pointer;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.stopwatch_button_start:hover {
    color: rgb(53, 53, 53);
    background-color:rgb(255, 245, 211);
}

.stopwatch_button_start:active {
    color: white;
    background-color:rgb(255, 199, 0);
}

.stopwatch_button_stop {
    margin-right: 15px;
    color: black; background-color: white;
    font-size: 25px; padding: 10px;
    width: 130px; border: 1px solid rgb(255, 199, 0); border-radius: 8px;
    cursor: pointer;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.stopwatch_button_stop:hover {
    color: rgb(53, 53, 53);
    background-color:rgb(255, 245, 211);
}

.stopwatch_button_stop:active {
    color: white;
    background-color:rgb(255, 199, 0);
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}