body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-h3{
  color:grey;
}

.login-center{
  margin: auto;
  width: 60%;
  height: 60%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-box{
  color: LightGray;
  outline-style: ridge;
  width: 450px;
  height: 320px;
}

.login-h1{
  color: black;
}

.login-register-center{
  text-align: center;
}

/* .checkboxsize{
  float: left;
  width:30px;
  height:30px;
}

.todo{
  /* border: 0 solid ; */
  /* border-left-width:0;
  border-right-width:0;
  border-top-width:0;
  border-bottom-width:1;
  
  outline:0px solid;
  width:900px;
  height:40px;
} */ 

.main-screen{
    margin: auto;
    width: 60%;
    height: 60%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
