body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-h3{
  color:grey;
}

.login-img{
  border-width: 1.0px;
  border-top-left-radius: 1.0px;
}