.todo{
    /* border: 0 solid ; */
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    
}
.todaydate{
    /*width:200px;
    height:150px;
    border:1px solid yellow;*/
    position:absolute;
    right:640px;
    top:700px;
}
.todo{
    outline:0px solid;
    width:900px;
    height:40px;
}
div.Todotitle{
    font-size:130px;
    text-align: center;
}
.checkboxsize{
    width:30px;
    height:30px;
}
vr{
    display:block;
    width:5px;
    background-color: black;
    position:absolute;
    top:870px;
    bottom:-900px;
    right:850px;
}