.todo{
    /* border: 0 solid ; */
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    
}
.todaydate{
    /*width:200px;
    height:150px;
    border:1px solid yellow;*/
    position:absolute;
    right:655px;
    top:650px;
}
.todo{
    outline:0px solid;
    width:900px;
    height:40px;
}
div.Todotitle{
    font-size:130px;
    text-align: center;
}
.checkboxsize{
    width:30px;
    height:30px;
}
.todobutton{
    width:30%;
    height:30%;
}
pattern{
    background: repeating-linear-gradient(90deg, #444 10px, #888 0, #888 20px);
    background: repeating-linear-gradient(#444, #444 10px, #888 0, #888 20px);
}
vr{
    display:block;
    width:0.3%;
    background-color: black;
    position:absolute;
    top:80%;
    bottom:-65%;
    right:44%;
}