.todo{
    /* border: 0 solid ; */
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    
}
.todo{
    outline:0px solid;
    width:500px;
    height:10px;
}
.checkboxsize{
    width:25px;
    height:25px;
}
