extends layout

block content
    div(class="countdown_container")
        h2 COUNT DOWN 
        div(class="countdown_watch")
            div(class="countdown_outer_circle")
                div(class="countdown_inner_circle")
                    label 시
                    input(type='text' id='target_time' class='countdpwn_time')
                    br
                    h1(class="countdown_timer")
                        h2(id='time') 00:00

                    div(class="countdown_buttons")
                        button(class='countdown_button' id='start') 시작
                        button(class='countdown_button' id='pause') 일시중지
                        button(class='countdown_button' id='stop') 종료
    div(class='countdown_laps')

    script(src='/javascripts/countdown.js')