extends layout

block content
    div(class="countdown_container")
        h2 COUNT DOWN 
        div(class="countdown_watch")
            div(class="countdown_outer_circle")
                div(class="countdown_inner_circle")
                    ul 
                        li 시 
                            input(type='text' id='target_hour' class='countdpwn_hour')
                            br
                            br
                            //- h1(class="countdown_timer")
                            //-     h2(id='time') 00:00
                        li 분 
                            input(type='text' id='target_min' class='countdpwn_min')
                            br
                            br
                            //- h1(class="countdown_timer")
                            //-     h2(id='time') 00:00
                        li 초 
                            input(type='text' id='target_sec' class='countdpwn_sec')
                            br
                            br
                            h1(class="countdown_timer")
                                h2(id='time') 00:00:00
                            br

                    div(class="countdown_buttons")
                        button(class='countdown_button' id='start') 시작
                        button(class='countdown_button' id='pause') 일시중지
                        button(class='countdown_button' id='stop') 종료
    div(class='countdown_laps')

    script(src='/javascripts/countdown.js')