extends layout

block content
    
    div(class="countdown_container")
        h2 COUNT DOWN 
        div(class="countdown_watch")
            div(class="countdown_outer_circle")
                div(class="countdown_inner_circle")
                    h1(class="countdown_timer")
                        //span#hours 00
                        //span
                        //span :
                        //span#munutes 00
                        //span
                        //span :
                        //span#seconds 00
                        span(class='span_comm') 초 :
                        span(class='span_comm' id='span_sec') 0
                    div(class="countdown_buttons")
                        //button(class='countdown_button') 시작
                        //button(class='countdown_button') 일시중지
                        //button(class='countdown_button') 종료
                        input(type='button' id='countdown_button_start' value='시작')
                        input(type='button' id='countdown_button_pause' value='종료')
    div(class="countdown_laps")