extends layout

block content
  div(class='login-center') 
    img(src='../images/hrmr.png' width=200 height=200)
    br
    br
    br
    h1(class='index-font') 할래말래란?
    br
    br
    h2 '공부를 도와주는 플랫폼'
    p  
