extends layout

block content
  div(class='login-center') 
    img(src='../images/hrmr.png' width=200 height=200)
    br
    br
    br
    h1(class='index-font-hrmr') 할래말래란?
    br
    br
    h1(class='index-font-h1') '공부를 도와주는 플랫폼'
    br
    p 이때까지 아날로그 방식으로 스터디 플래너 따로 타이머 따로 사용하시고 계셨나요? 
    p 스터디 플래너와 타이머 기능을 동시에 가지고 있는 '할래말래'를 이용하여 더욱 편리하게 공부하세요.
    br
    br
    br
    h1(class='index-font') 공부할래 말래 딱 말해
