doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/countdown.css')
    link(rel='stylesheet', href='/stylesheets/todolist.css')
    link(rel='stylesheet', href='/stylesheets/stopwatch.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
  body
  div(class='main-screen')
    br
    br
    ul 
      li 
        a(href='/main' width=200 height=200)
          h3 MAIN

      if userId=='NULL'
        li 
          a(href='/login')
            h3 LOGIN
        li 
          a(href='/register') 
            h3 REGISTER
      
      else
        li 
          a(href='logout')
            h3 LOGOUT
      
      li 
        a(href='/newtodolist') 
          h3 NEWTODOLIST
      li
        a(href='/countdown') 
          h3 COUNTDOWN
      li 
        a(href='/stopwatch') 
          h3 STOPWATCH
  div(class="todolist03")
    ul
      a(href='/todolist') 
        h3 TODOLIST
block content