doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/countdown.css')
    link(rel='stylesheet', href='/stylesheets/todolist.css')
    link(rel='stylesheet', href='/stylesheets/stopwatch.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet", href="/stylesheets/register.css")
    link(rel="stylesheet", href="/stylesheets/bulma.min.css")
    link(rel="stylesheet", href="fullcalendar/core/main.css")
    link(rel="stylesheet", href="fullcalendar.css")
    link(rel="stylesheet", href="fullcalendar/pluginName/main.css")
    script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    script(src="https://www.amcharts.com/lib/3/amcharts.js")
    script(src="https://www.amcharts.com/lib/3/serial.js")
    script(src="https://www.amcharts.com/lib/3/themes/light.js")
    script(src="https://www.amcharts.com/lib/3/gantt.js")
    script(src="https://www.amcharts.com/lib/3/amcharts.js")
    script(src="https://www.amcharts.com/lib/3/serial.js")
    script(src="https://www.amcharts.com/lib/3/themes/light.js")
    script(src="https://www.amcharts.com/lib/3/gantt.js")
    script(type="javascript" src="/javascripts/todolist.js")

  body
    nav(class='navbar is-warning mb-4' role='navigation' aria-lable='main navigation')
      div(class='navbar-brand')
        a(class='navbar-item' href='/')
          img(src='../images/hrmr.png' width=30 height=100)

      div(class='navbar-menu')
        div(class='navbar-start')
          a(class='navbar-item' href='/') MAIN
          a(class='navbar-item' href='/todolist') TODOLIST
          a(class='navbar-item' href='/countdown')  COUNTDOWN
          a(class='navbar-item' href='/stopwatch') STOPWATCH

        div(class='navbar-end')
          if userId==NULL
            a(class='navbar-item' href='/login') LOGIN
            a(class='navbar-item' href='/register') REGISTER
          else
            a(class='navbar-item' href='/logout') LOGOUT

    br
    br
    br
    br
    br

    block content