doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/countdown.css')
    link(rel='stylesheet', href='/stylesheets/todolist.css')
    link(rel='stylesheet', href='/stylesheets/stopwatch.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  div(class='main-screen')
    br
    br
    ul 
      li 
        a(href='/main' width=200 height=200)
          h3 MAIN
      li 
        a(href='/login')
          h3 LOGIN
      li 
        a(href='/register') 
          h3 REGISTER
      li 
        a(href='/todolist') 
          h3 TODOLIST
      li 
        a(href='/newtodolist') 
          h3 NEWTODOLIST
      li
        a(href='/countdown') 
          h3 COUNTDOWN
      li 
        a(href='/stopwatch') 
          h3 STOPWATCH
    block content
