doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/countdown.css')
  body
  h1 할래말래
    ul 
      li 
        a(href='/register') REGISTER
      li
        a(href='/todolist') TODOLIST
      li 
        a(href='/countdown') COUNTDOWN
    block content
    