extends layout

block content 
    h1 로그인
    form(action='/login',method='post')
        h3 아이디
        input(type='text', name='userId')
        h3 비밀번호
        input(type='password', name='password')
        br
        input(type='submit', value='로그인')
    br
    a(href='/register') 회원가입
    p=result 
