extends layout

block content 
    h1 Login
    form(action='/login',method='post')
        input(type='text', name='userId')
        input(type='password', name='password')
        input(type='submit', value='로그인')
    p=result 
