extends layout

block content 
    img(class='login-image' src='../images/hrmr.png' width=220 height=220)
    div(style='line-height:1200%')
    br
    br
    br
    div(class='register-center' class='login-box')
        br
        h1(class='login-h1') 로그인
        br
        form(action='/login',method='post')
            label(for='userId', class='login-label', class="field-label is-normal") 아이디   
            input(class='input is-normal' type='text', size="21", name='userId', id='userId', placeholder='ID')
            br
            br
            lable(for='userpw', class='login-label') 비밀번호
            input(class='input is-normal' type='password', size="19", name='password', id='userpw', placeholder='PASSWORD')
            br
            br
            input(type='submit', value='로그인', style='display:block; width:100%; text-align:center; font-size:1.1em; padding:7px; backgound-color:',id ="submitBtn", class='remove-line')
            br
        a(href='/register' class='login-register-center' class='login-font-size') 회원가입  
        br

    br
    br
    p(class='login-p')=result

    //if (result!=null && result!='')
    //    div(class='modal')
    //        div(class='modal-background')
    //        div(class='modal-conent')
    //            p=result 
    //        button(class='modal-close is-large')
