extends layout

block content
    
    body
        script(src='/javascripts/newtodo.js')
        h1 ToDo 작성
        form.toDoForm
            input(type='text' placeholder='할일들을 입력해주세요')
            