extends layout 

block content 
    h1 회원가입
    form(action='/users/register',method='post')
        h3(class='login-h3') 아이디
        input(type='text', name='userId', placeholder='아이디')
        input(type='submit', value='중복확인' class="is-full")
        br
        h3(class='login-h3') 비밀번호
        input(type='password', name='password', placeholder="비밀번호")
        br
        h3(class='login-h3') 비밀번호 확인
        input(type='passwordcheck', name='passwordcheck', placeholder="비밀번호 확인")
        br
        br
        <button type="button" class="join">회원가입</button>
    p= result 