extends layout 

block content 
    h1 회원가입
    form(action='/users/register',method='post')
        h3(class='login-h3') 아이디
        input(type='text', name='userId', placeholder='아이디')
        <button>중복확인</button>
        br
        h3(class='login-h3') 비밀번호
        input(type='password', name='password', placeholder="비밀번호")
        br
        h3(class='login-h3') 비밀번호 확인
        input(type='passwordcheck', name='passwordcheck', placeholder="비밀번호 확인")
        br
        br
        <button type="button" class="join" style="display:block; width:9.8%; text-align:center;font-size:0.8em; padding:1px;">회원가입</button>
    p= result