extends layout 

block content 
    img(class='login-image' src='../images/hrmr.png' width=200 height=200)
    div(style='line-height:1200%')
        br
    div(class='login-center' class='login-box')
        h1(class='login-h1') 회원가입
        br
        form(action='/register',method='post')
            label(for='userId', class='login-label') 아이디   
            input(class='input is-medium' type='text', size="26", name='userId', id='userId', placeholder='ID')
            br
            br
            lable(for='password', class='login-label') 비밀번호
            input(class='input is-medium' type='password', size="24", name='password', id='password', placeholder='PASSWORD')
            br
            br
            lable(for='passwordcheck', class='login-label') 비밀번호 확인
            input(class='input is-medium' type='password', size="19", name='passwordcheck', id='passwordcheck', placeholder='PASSWORD')
            br
            br
            input( type='submit',id="submitBtn",value='로그인' style='display:block; width:100%; text-align:center; font-size:0.8em; padding:7px;')
            br
    script(src='/javascripts/register.js')
    p= result
    