extends layout

block content
    div(class='container')
        h2 STOP WATCH
        div(class='stopwatch_circle')
            h1(class="stopwatch_timer")
                span#minutes 00
                span
                span :
                span#seconds 00
                span
                span :
                span#tenMillis 00
            h3(class = "stopwatch_buttons")
                button(class='stopwatch_button_start') 시작
                button(class='stopwatch_button_stop') 일시중지
                button(class='stopwatch_button_reset') 종료