extends layout

block content
    script(src='/javascripts/stopwatch.js')
    input(type='hidden' id='start_time')
    div(class="stopwatch_container")
        h2(class='title is-1') STOP WATCH
        div(class="stopwatch_watch")
            div(class="outer_circle")
                div(class="inner_circle")
                    p(class="stopwatch_timer")
                        span#hours 00
                        span
                        span :
                        span#minutes 00
                        span
                        span :
                        span#seconds 00
                    div(class="stopwatch_buttons")
                        button(class='stopwatch_button_start' id='start') 시작
                        button(class='stopwatch_button_stop' id='end') 종료