extends layout

block content
    div(class='container')
        h2 스톱워치
            h1
                span#munutes 00:
                span#seconds 00:
                span#tenMillis 00
                button(id='bt__start') 시작
                button(id='bt__reset') 일시중지
                button(id='bt__stop') 종료