extends layout

block content
    
    div(class="stopwatch_container")
        h2 STOP WATCH
        div(class="stopwatch_watch")
            div(class="outer_circle")
                div(class="inner_circle")
                    h1(class="stopwatch_timer")
                        span#hours 00
                        span
                        span :
                        span#munutes 00
                        span
                        span :
                        span#seconds 00
                    div(class="stopwatch_buttons")
                        button(class='stopwatch_button') 시작
                        button(class='stopwatch_button') 종료