extends layout

block content
    div(class='container')
        h2 STOP WATCH
        div(class='stopwatch_circle')
            h1
                span#munutes 00
                span :
                span#seconds 00
                span :
                span#tenMillis 00
            h2
                button(class='stopwatch_button') 시작
                button(class='stopwatch_button') 일시중지
                button(class='stopwatch_button') 종료