extends layout

block content 
  div(class="Todotitle")
    p Todo
     //- input(type="date", name="todaysdate" class="todaydate")
    //- br
    //- br
    //- br
    //- each todo in todolist 
    //-   input(type="checkbox" class="checkboxsize")
    //-   input(type="text" name="title", class="todo" value=todo.title)
  div(class="todo")
  input(type="checkbox" class="checkboxsize")
  input(type="text" name="todolist1" class="todo")
  br
  br
  br
    //-label.a-checkbox

    //-input(type="checkbox" checked=true)

      //-<button type="button">
      //-<img src="/images/todobutton.png" alt="이미지 없음">
    //-p(class="buttons")
  
    //-h4 할 일 추가
  button(class="button")
    span(class="icon")
      i(class="fas fa-plus")
  div(class="todoplus" style="margin-left:3em; margin-bottom:2em;")
    h3 할 일 추가
    
  script(src="https://cdn.amcharts.com/lib/4/core.js")
  script(src="https://cdn.amcharts.com/lib/4/charts.js")
  script(src="https://cdn.amcharts.com/lib/4/plugins/timeline.js")
  script(src="https://cdn.amcharts.com/lib/4/plugins/bullets.js")
  script(src="https://cdn.amcharts.com/lib/4/themes/animated.js")
  div(id="chartdiv")