extends layout

block content 
  div(class="Todotitle")
    p Todo
  input(type="date", name="todaysdate" class="todaydate")
  br
  br
  input(type="checkbox" class="checkboxsize")
  input(type="text" name="todolist1" class="todo")
  br
  br
  //- label.a-checkbox
  input(type="checkbox" class="checkboxsize")
  //-input(type="checkbox" checked=true)
  input(type="text" name="todolist2" class="todo")
  br
  br
  input(type="checkbox" class="checkboxsize")
  input(type="text" name="todolist3" class="todo")
  br
  br
  input(type="checkbox" class="checkboxsize")
  input(type="text" name="todolist4" class="todo")
  br
  br
  input(type="button" class="todolist-button")
  //-input(button type="button is-small" name="todobutton" id="todobutton")
  vr
  