extends layout

block content
  p Todo
  input(type="date", name="todaysdate" )
  br
  br
  input(type="checkbox" class="checkboxsize")
  input(type="button", name="todolist1" class="todo")
  br
  br
  //- label.a-checkbox
  input(type="checkbox" class="checkboxsize")
  //-input(type="checkbox" checked=true)
  input(type="button", name="todolist2" class="todo")
  br
  br
  input(type="checkbox" class="checkboxsize")
  input(type="button", name="todolist3", class="todo")
  br
  //-input(button type="button is-small" name="todobutton" id="todobutton")

  
  