extends layout

block content 
  div(class="Todotitle")
    p Todo List
     //- input(type="date", name="todaysdate" class="todaydate")
    //- br
    //- br
    //- br
    //- each todo in todolist 
    //-   input(type="checkbox" class="checkboxsize")
    //-   input(type="text" name="title", class="todo" value=todo.title)
  div(class="todo")
    input(type="checkbox", class="checkboxsize")
    input(type="text", name="todolist1", class="todo")
    input(type="button", class="stopwatch-btn", value="STOPWATCH")
    //- button(class="stopwatch-btn")
    //-   span(class="icon")
    //-     i(class="fad fa-trash-alt")
    input(type="button", class="delete-btn", value="delete")
  br
  br
  br


  button(class="button")
    span(class="icon")
      i(class="fas fa-plus")
  div(class="todoplus")
    h3 할 일 추가

  
  script(src="https://www.amcharts.com/lib/3/amcharts.js")
  script(src="https://www.amcharts.com/lib/3/serial.js")
  script(src="https://www.amcharts.com/lib/3/themes/light.js")
  script(src="https://www.amcharts.com/lib/3/gantt.js")
  script(src="/javascripts/todolist.js")
  div(id="chartdiv")

  div(id="calendar")

  script(src="fullcalendar/core/main.css")
  script(src="fullcalendar/pluginName/main.js")
  script(src="fullcalendar/locals/lanuageName.js")
  script(scr="/path/to/jquery.min.js")
  script(src="/path/to/moment.min.js")
  script(src="fullcalendar/fullcalendar.js")

  div(id="container")