extends layout

block content 
  div(class="Todotitle")
    p Todo List
     //- input(type="date", name="todaysdate" class="todaydate")
    //- br
    //- br
    //- br
    //- each todo in todolist 
    //-   input(type="checkbox" class="checkboxsize")
    //-   input(type="text" name="title", class="todo" value=todo.title)
  div(class="todo")
    input(type="checkbox" class="checkboxsize")
    input(type="text" name="todolist1" class="todo")
  br
  br
  br

  
  

  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MHDP Full Calendar 
  body 
    div(class="calendar")
      div(class="header")
        div(class="year-month")
        div(class="nav")
          button(class="nav-btn go-prev") &lt;
          button(class="nav-btn go-today") Today
          button(class="nav-btn go-next") &gt; 
      div(class="main")
        div(class="days")
          div(class="day") 일
          div(class="day") 월
          div(class="day") 화
          div(class="day") 수
          div(class="day") 목
          div(class="day") 금
          div(class="day") 토
        div(class="dates")
    script(src="todolist.js")


  script(src="https://www.amcharts.com/lib/3/amcharts.js")
  script(src="https://www.amcharts.com/lib/3/serial.js")
  script(src="https://www.amcharts.com/lib/3/themes/light.js")
  script(src="https://www.amcharts.com/lib/3/gantt.js")
  script(src="/javascripts/todolist.js")
  div(id="chartdiv")

  