extends layout

block content
  p Todo
  input(type="date", name="todaysdate")
  br
  input(type="checkbox", name="todolist")
  input(type="a-checkbox", name="todolist1")
  br
  label.a-checkbox
    input(type="checkbox")
